{{ define "slack.title" }}
  {{- if eq .Status "firing" -}}
    {{- if eq (index .Alerts 0).Labels.severity "critical" -}}
    :rotating_light: *CRITICAL* — {{ (index .Alerts 0).Annotations.summary }}
    {{- else if eq (index .Alerts 0).Labels.severity "warning" -}}
    :warning: *WARNING* — {{ (index .Alerts 0).Annotations.summary }}
    {{- else -}}
    :information_source: *INFO* — {{ (index .Alerts 0).Annotations.summary }}
    {{- end -}}
  {{- else -}}
    :white_check_mark: *RESOLVED* — {{ (index .Alerts 0).Annotations.summary }}
  {{- end -}}
{{ end }}

{{ define "slack.text" }}
{{ range .Alerts }}
*Status:* {{ if eq $.Status "firing" }}:red_circle: FIRING{{ else }}:large_green_circle: RESOLVED{{ end }}
*Severity:* `{{ .Labels.severity | toUpper }}`
*Alert:* `{{ .Labels.alertname }}`
*Host:* `{{ if .Labels.instance }}{{ .Labels.instance }}{{ else }}N/A{{ end }}`
*Detail:* {{ .Annotations.description }}
*Started:* {{ .StartsAt.Format "2006-01-02 15:04:05 UTC" }}
{{ if eq $.Status "resolved" }}*Resolved:* {{ .EndsAt.Format "2006-01-02 15:04:05 UTC" }}{{ end }}
{{ if .Annotations.dashboard_url }}:bar_chart: <{{ .Annotations.dashboard_url }}|View Dashboard>  {{ end }}{{ if .Annotations.runbook_url }}:book: <{{ .Annotations.runbook_url }}|Open Runbook>{{ end }}
---
{{ end }}
{{ end }}

{{ define "slack.color" }}
  {{- if eq .Status "resolved" -}}good
  {{- else if eq (index .Alerts 0).Labels.severity "critical" -}}danger
  {{- else if eq (index .Alerts 0).Labels.severity "warning" -}}warning
  {{- else -}}#439FE0{{- end -}}
{{ end }}
