{{ define "slack.title" -}}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{- end }}

{{ define "slack.color" -}}
{{ if eq .Status "resolved" }}good
{{ else if eq .CommonLabels.severity "critical" }}danger
{{ else if eq .CommonLabels.severity "warning" }}warning
{{ else }}#439FE0{{ end }}
{{- end }}

{{ define "slack.icon" -}}
{{ if eq .Status "resolved" }}:white_check_mark:
{{ else if eq .CommonLabels.severity "critical" }}:red_circle:
{{ else if eq .CommonLabels.severity "warning" }}:warning:
{{ else }}:information_source:{{ end }}
{{- end }}

{{ define "slack.body" -}}
{{ range .Alerts }}
*Alert:*     {{ .Annotations.summary }}
*Severity:*  {{ .Labels.severity | toUpper }}
*Host:*      {{ if .Labels.instance }}{{ .Labels.instance }}{{ else }}N/A{{ end }}
*Status:*    {{ if eq $.Status "resolved" }}:white_check_mark: RESOLVED{{ else }}:fire: FIRING{{ end }}
*Detail:*    {{ .Annotations.description }}
{{ if .Annotations.dashboard_url }}*Dashboard:* <{{ .Annotations.dashboard_url }}|Open in Grafana>{{ end }}
{{ if .Annotations.runbook_url }}*Runbook:*   <{{ .Annotations.runbook_url }}|View Runbook>{{ end }}
*Fired:*     {{ .StartsAt | since }}{{ if eq $.Status "resolved" }}
*Resolved:*  {{ .EndsAt | since }}{{ end }}
---
{{ end }}
{{- end }}